@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

p{
  font-weight: 300;
  color: #123;
}

body{
  min-height: 1000px;
}

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(animals_bg.jpeg);
  background-size: cover;
}

.banner .content{
  max-width: 900px;
  text-align: center;
}

.banner .content h2{
  font-size: 2.7em;
  color: #ffa;
}

.banner .content p{
  font-size: 0.4em;
  color: #221;
}

.btn{
  font-size: 0.2em;
  color: #ffa;
  background: #ff0260;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover{
  letter-spacing: 6px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgb(0,0,0,0.05);
}

header .logo{
  color: #00a;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header.sticky .logo{
  color: #111;
}

header .logo span{
  color: #ffffff;
}

header .navigation{
  position: relative;
  display: flex;
}

header .navigation li{
  list-style: none;
  margin-left: 30px;
}

header .navigation li a{
  text-decoration: none;
  color: #0000ff;
  font-weight: 300;
}

header.sticky .navigation li a{
  color: #0020ff
}

header.sticky .navigation li a:hover{
  color: #ff0157;
}

.row{
  position: relative;
  width: 100%;
  display: flex;;
  justify-content: space-between;
}

.row .col50{
  position: relative;
  width: 48%;
}

.titleText{
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 300px;
  /*height: 100%;*/
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.view .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.view .content .box{
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.view .content .box .imgBx{
  position: relative;
  width: 100%;
  height: 300px;
}

.view .content .box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view .content .box .text{
  padding: 15px 0 5px;
}

.view .content .box .text h3{
  font-weight: 400;
  color: #211;
}

.sample{
  background: url(animals_sample_bg.jpeg);
  background-size: cover;
}

.white .titleText, .white p {
  color: #fff;
}

.sample .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.sample .content .box{
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sample .content .box .imgBx{
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.sample .content .box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sample .content .box .text{
  text-align: center;
}

.sample .content .box .text p{
  color: #666;
  font-style: italic;
}

.sample .content .box .text h3{
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}

.contact{
  background: url(animals_bg.jpeg);
  background-size: cover;
}

.contactForm{
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}

.contactForm h3{
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,textarea{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}
/*
.contactForm .inputBox textarea{
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}
*/

.contactForm .inputBox input[type="submit"]{
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.copyright {
  padding:  8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.copyright p{
  color: #333;
}

.copyright a{
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation{
    display: none;
  }
  header .navigation.active{
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li{
    margin-left: 0;
  }
  header .navigation li a{

    color: #0000ff;
    font-size: 1.6em;
  }
  .viewToggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(menu.png);
    /*background: url(animals_sample_white_bg.jpeg);*/
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .viewToggle.active{
    background: url(close.png);
    /*background: url(animals_sample_white_bg.jpeg);*/
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .viewToggle{
    filter: invert(1);
  }
  section {
    padding: 100px;
  }
  .banner .content h2{
    font-size: 3em;
    color: #fff;
  }
  .row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
  }
  .row .col50{
    position: relative;
    width: 100%;
  }
  .row .col50 .imgBx{
    height: 300px;
    margin-top: 20px;
  }
  .view .content{
    margin-top: 20px;
  }
  .view .content .box{
    margin-top: 10px;
  }
  .view .content .box .imgBx{
    height: 260px;
  }
  .title{
    text-align: center;
  }
  .titleText{
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .sample .content .box{
    margin: 20px;
    padding: 40px;
  }
  .contactForm{
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 520px){
  .banner .content h2{
    font-size: 2.2em;
    color: #fff;
  }
}
